<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <a href="#" id='logo'><%= title %></a>
      </div>
    </header>

    <div class="center jumbotron">
      <h1>Welcome to the Harman's Chat app!</h1>
      <h2>Sign up or login below to start chatting with websockets!</h2>
      <a href="/signup" class="btn btn-lg btn-primary">Sign up</a>
      <a href="/login" class="btn btn-lg btn-secondary">Login</a>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
  </body>
</html>
